html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


a {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

.container {
    max-width: 941px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    margin-top: 40px;
}

.hero {
    height: 100vh;
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5.71px;
    color: #fff;
    margin-bottom: 5px;
}

.descr {
    font-size: 16px;
    font-weight: 500;
    color: #fff;

}

.scroll-btn {
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.34em;
    text-align: center;
    color: #fff;
}


/* nav */
.header-nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 58px;
}

.header-nav__logo img {
    display: block;
}

.header-nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu__link {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.09px;
    color: #48555B;
    transition: color .3s linear;
}

.menu__link:hover {
    color: #00A4E5;
}

/* our-story */
.our-story {
    margin-bottom: 118px;
}

.our-story__inner {
    background-color: #E6E6E6;

}

.our-story__heading {
    position: relative;
    padding-bottom: 14px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
    cursor: default;
}

.our-story__heading::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #00b4d8;
    transition: width 240ms ease, left 240ms ease, transform 240ms ease;
    border-radius: 2px;
}

.our-story__heading:hover::after,
.our-story__heading:focus::after {    
  width: 65px;               
}

.our-story__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    padding-top: 50px;
}

.our-story__content {
    max-width: 405px;
    width: 100%;
}


.our-story__lead {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #16ace8;
    color: #48555b;
    margin-bottom: 30px;
}

.our-story__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}

.our-story__steps {
    display: flex;
    gap: 20px;
}

.our-story__step {
    width: 140px;
    height: 224px;
    padding: 15px 16px 15px 14px;
}

.our-story__step-label {
    font-weight: 800;
    font-size: 24px;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: #fff;
}