html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 13px;
    /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


a {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: none;
}

address {
    font-style: normal;
}

.container {
    max-width: 970px;
    padding-inline: 15px;
    width: 100%;
    margin: 0 auto;
}

.button {
    padding: 14px 28px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    background-color: #00A4E5;
    transition: background-color .2s linear;
    color: #fff;
}

.logo {
    margin-top: 40px;
}

.hero {
    height: 100vh;
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5.71px;
    color: #fff;
    margin-bottom: 5px;
}

.descr {
    font-size: 16px;
    font-weight: 500;
    color: #fff;

}

.scroll-btn {
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.34em;
    text-align: center;
    color: #fff;
}


/* nav */
.header-nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 58px;
    transition: background-color 400ms ease;
}

.header-nav.scrolled {
    background-color: #b9c9d0;

}

.header-nav__logo img {
    display: block;
}

.header-nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu__link {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.09px;
    color: #48555B;
    transition: color .3s linear;
}

.menu__link:hover {
    color: #00A4E5;
}

.menu__btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 30px;
}

.menu__btn span {
    background-color: #48555B;
    height: 2px;
    width: 100%;
}

/* our-story */
.our-story {
    margin-bottom: 118px;
}

.our-story__inner {
    background-color: #E6E6E6;

}

.our-story__heading {
    position: relative;
    padding-bottom: 14px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
}

.section__heading {
    position: relative;
    padding-bottom: 14px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #48555b;
    cursor: default;
}

.section__heading::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #00b4d8;
    transition: width 240ms ease, left 240ms ease, transform 240ms ease;
    border-radius: 2px;
}

.section__heading:hover::after,
.section__heading:focus::after {
    width: 65px;
}

.our-story__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    padding-top: 50px;
}

.our-story__content {
    max-width: 405px;
    width: 100%;
}


.our-story__lead {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: #16ace8;
    color: #48555b;
    margin-bottom: 30px;
}

.our-story__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}

.our-story__steps {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    gap: 20px;
}

.our-story__step {
    width: 140px;
    height: 224px;
    padding: 15px 16px 15px 14px;
}

.our-story__step-label {
    font-weight: 800;
    font-size: 24px;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: #fff;
}

/* our-capabilities */
.our-capabilities {
    margin-bottom: 100px;
}

.our-capabilities__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    margin-bottom: 80px;
}

.our-capabilities__heading {
    text-align-last: left;
}

.our-capabilities__heading::after {
    left: 0;
    transform: translateX(0);
}

.our-capabilities__descr {
    max-width: 390px;
    width: 100%;
    margin-left: auto;
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
    color: #48555b;
}

.button:hover {
    background-color: #47b7e3;
}

.our-capabilities__list {
    display: flex;
    flex-wrap: wrap;
    margin: -14px;
}

.our-capabilities__item-wrapper {
    padding: 14px;
    width: 33.3%;
}

.our-capabilities__item {
    padding: 38px 21px;
    border: 1px solid #E6E6E6;
}

.our-capabilities__img {
    margin-bottom: 25px;
}

.our-capabilities__item-title {
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #48555b;
}

.our-capabilities__item-descr {
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}

/* hero-cta */
.hero-cta {
    height: 59vh;
    max-height: 499px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-cta__title {
    max-width: 350px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #48555b;
}

.footer__logo {
    display: inline-block;
}

/* subscribe */
.subscribe {
    padding-block: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 86px;
    background-color: #171819;
}

.subscribe__title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

.subscribe__form {
    display: flex;
}

.subscribe__field-control {
    display: inline-block;
    border: none;
    border-radius: 0;
    width: 250px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #48555b;
}



.form__button {
    padding: 11px 49px;
}

.subscribe__field-control {
    padding: 11px 16px;
}


/* footer */
.footer {
    background-color: #141A20;
    color: #fff;
}

.footer__inner {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer__company {
    max-width: 250px;
}

.footer__nav-title {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    margin-bottom: 19px;
}

.footer__logo {
    margin-bottom: 15px;
}

.footer__company-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.08em;
}

.footer__nav {
    padding-left: 25px;
}

.footer__nav-row {
    max-width: 270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 34px;
}

.list--third {
    padding-left: 4px;
}

.footer__nav-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
}


.footer__address {
    white-space: pre-line;
    font-weight: 400;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
}

.footer__phone,
.footer__email {
    margin-top: 15px;
    font-weight: 400;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
}

.footer__social-list {
    margin-top: 35px;
    display: flex;
    gap: 25px;
}

.footer__copy {
    padding: 22px 0;
    background-color: #171819;
}

.footer__copy p {
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
}

/* media */
@media (max-width: 1024px) {
    /* .our-capabilities__list {
        margin: 0;
    } */

    .our-capabilities__item {
        padding: 30px 13px;
    }

    .our-capabilities__item-title {
        font-size: 15px;
    }

    .our-capabilities__item-descr {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .header-nav {
        margin-bottom: 60px;
    }

    .our-story__inner {
        text-align: center;
    }

    .our-story__row {
        padding-top: 30px;
    }

    .our-story__content {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .our-story__row {
        display: block;
    }

    .our-story {
        margin-bottom: 60px;
    }

    .our-story__steps {
        justify-content: center;
        align-items: center;
    }

    .our-capabilities {
        margin-bottom: 60px;
    }

    .our-capabilities__top {
        gap: 25px;
        margin-bottom: 50px;
    }

    .our-capabilities__item-wrapper {
        width: 50%;
    }

    .subscribe {
        column-gap: 35px;
    }


    .form__button {
        padding: 10px 28px;
    }

    .footer__inner {
        flex-wrap: wrap;
    }
}

@media (max-width: 655px) {
    .menu__btn {
        display: flex;
    }

    .menu {
        transform: translateX(-110%);
        position: absolute;
        width: 153px;
        height: 265px;
        top: 0;
        left: 0;
        z-index: -1;
        padding: 35px 50px 0px 46px;
        background-color: #b9c9d0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px 0;
        transition: transform .3s ease-out;
    }

    .our-capabilities {
        margin-bottom: 0;
    }

    .our-capabilities__list {
        margin: -8px;
    }

    .our-capabilities__item-wrapper {
        padding: 8px;
    }


    .subscribe {
        flex-direction: column;
        row-gap: 15px;
    }


    .menu.menu--open {
        transform: translateX(0);
    }
}


@media (max-width: 599px) {
    .menu {
        height: 250px;
        font-size: 13px;
    }

    .button {
        padding-block: 10px;
    }

    .title {
        font-size: 40px;
    }

    .header-nav {
        margin-bottom: 50px;
    }

    .header-nav__row {
        padding: 18px;
    }

    .our-story {
        margin-bottom: 50px;
    }

    .our-story__row {
        padding-top: 20px;
    }

    .our-story__lead {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .our-story__steps {
        gap: 8px;
    }

    .our-story__text {
        line-height: 150%;
    }

    .our-story__step {
        height: 180px;
    }

    .our-story__step-label {
        font-size: 22px;
    }

    .our-capabilities__top {
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }

    .our-capabilities__item-wrapper {
        width: 100%;
    }

    .hero-cta {
        height: 35vh;
        padding-top: 40px;
    }

    .hero-cta__title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .subscribe__field-control {
        width: 100%;
    }

    .form__button {
        padding: 10px 18px;
    }

    .footer__company {
        max-width: 100%;
    }

    .footer__nav {
        padding-left: 0;
    }

    .footer__nav-row {
        gap: 20px;
    }
}

@media (max-width: 430px) {
    .descr {
        font-size: 15px;
    }

    .our-capabilities__item {
        padding: 14px 13px;
    }

    .our-capabilities__img {
        margin-bottom: 12px;
    }

    .our-capabilities__item-title {
        margin-bottom: 7px;
    }

    .our-capabilities__item-descr {
        line-height: 160%;
    }

    .our-story__step-label {
        font-size: 13px;
    }

    .footer__inner {
        padding: 25px 0;
    }

    .footer__nav {
        width: 100%;
    }
}